html, body ,figure,ul{
    margin: 0;
    padding: 0;
 
}
body{
    color:$text-color;
  
}
img{
    max-height: 100%;
    max-width: 100%;
}

.container{
    height: 100%;
    width: 100%;
}
*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    min-height: 100vh;
    flex-wrap: wrap;
}

.list{
 list-style-type: none;
}
.header , .footer, .main{
   
    width: 100%;
}

.main{
 
    flex-grow: 2;
    height: 100%;
}

 