$text-color:white;
$bgc:#464646;
 

//sections
$dark: #C4C4C4;
$light:#fafafa ;
$dark-text:black;
$grey-text:rgb(61, 60, 66);

$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

 /* mobile-sm */
@mixin mobile-sm {
  @media (min-width: $mobile-sm) {
    @content;
  }
} 

/* mobile-md */
@mixin mobile-md {
  @media (min-width: $mobile-md) {
    @content;
  }
}

/* mobile-lg */
@mixin mobile-lg {
  @media (min-width: $mobile-lg) {
    @content;
  }
}

/* tablet */
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

/* desktop-sm */
@mixin desktop-sm {
  @media (min-width: $desktop-sm) {
    @content;
  }
}

/* desktop-md */
@mixin desktop-md {
  @media (min-width: $desktop-md) {
    @content;
  }
}

/* wide-screen-sm */
@mixin wide-screen-sm {
  @media (min-width: $wide-screen-sm) {
    @content;
  }
}

/* wide-screen-md */
@mixin wide-screen-md {
  @media (min-width: $wide-screen-md) {
    @content;
  }
}

/* wide-screen-lg */
@mixin wide-screen-lg {
  @media (min-width: $wide-screen-lg) {
    @content;
  }
}
