$header-height:80px;
 
.header{
    background-color: $bgc;
    padding: 10px;
    min-height: $header-height;
    justify-content: space-between; align-items: center; flex-wrap: wrap;
    display: flex;
    &__content{
        display: flex;
        justify-content: space-between; align-items: center; flex-wrap: wrap;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }
    &__logo{
        width: 40px;
    }
}