$header-height:60px;
 
.header{
    background-color: $bgc;
    height:$header-height ;
 
    @include sm{
        min-height: 60px;
    }

    display: flex;
    align-items: center;
    

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}